@using WhazzupInTryavna.Web.Infrastructure
@model ActivitiesListingViewModel

@{
    ViewBag.Title = "Activities";
}

@if (TempData.ContainsKey("AddedActivity"))
{
    <div id="successesAlert" class="alert alert-success">@this.TempData["AddedActivity"]</div>
}


<div class="text-center row">
    <h1 class="col-2 offset-5 mt-5 mb-5 bg--accent text-dark">@ViewBag.Title</h1>
    <a asp-controller="Activities" asp-action="Add" class="btn btn-info col-2 offset-5 mt-5 mb-5">Add Activity</a>
</div>

<br />
<form class="mt-5 mb-5" method="get">
    <div class="row text-center container">
        <div class="form-group offset-1 col-2">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" />
        </div>
        <div class="form-group col-2">
            <label asp-for="Category"></label>
            <select asp-for="Category" class="form-control">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>
        <div class="form-group col-2">
            <label asp-for="Activity"></label>
            <select asp-for="Activity" class="form-control">
                <option value="All">All</option>
                <option value="My activities">My activities</option>
                <option value="My joins">My joins</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label asp-for="CountOfJoins"></label>
            <select asp-for="CountOfJoins" class="form-control">
                <option value="All">All</option>
                <option value="With most joins">With most joins</option>
                <option value="With less joins">With less joins</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label asp-for="TimeToStart"></label>
            <select asp-for="TimeToStart" class="form-control">
                <option value="All">All</option>
                <option value="Not started">Not started</option>
                <option value="Started">Started</option>
            </select>
        </div>

    </div>
    <div class="text-center">
        <button class="btn btn-primary text-center"
                asp-controller="Activities" asp-action="Index"
                asp-route-searchTerm="@Model.SearchTerm"
                asp-route-category="@Model.Category"
                asp-route-activity="@Model.Activity"
                asp-route-countOfJoins="@Model.CountOfJoins"
                asp-route-timeToStart="@Model.TimeToStart">
            Search
        </button>
    </div>
</form>
<div class="row text-center">
   @if (Model.Activities.Any())
   {
       @foreach (var activity in Model.Activities)
       {
           <section class="card-deck col-3 offset-1">
               <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.Id" asp-route-information="@activity.GetInformation()">
                   <div class="card">
                       <img class="card-img-top" src="@activity.CategoryImage" alt="Card image cap">
                       <div class="card-body">
                           <h5 class="card-title">@activity.Name</h5>
                           <p class="card-text">@activity.Location</p>
                       </div>
                       <div class="card-footer">
                           <small class="text-muted">Star Time: @activity.StartTime.ToString("dd - MMMM (dddd) HH:mm")</small>
                       </div>
                       <div class="card-footer">
                           <small class="text-muted">Comments: @activity.CommentsCount</small>
                       </div>
                   </div>
               </a>
           </section>
       }
   }
   else
   {
       <h1 class="text-center">No activities in this category!</h1>
   }
</div>
@section Scripts
{
    <script>
        let el = document.getElementById("successesAlert");
        if (el !== null) {
            setTimeout(function () { el.hidden = true }, 3000);
        }
    </script>
}