@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@model ActivitiesAdminListingViewModel
@inject IWebHostEnvironment environment
@{
    ViewBag.Title = "Activities Administration";
}

@if (TempData.ContainsKey("AdminUpdatedActivity"))
{
    <div id="adminSuccessesAlert" class="alert alert-success">@this.TempData["AdminUpdatedActivity"]</div>
}


<partial name="_BackToMainAdministrationPartial"/>

<table class="table table-bordered table-hover">
    @if (Model.Activities.Any())
    {
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Location
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    Added by user
                </th>
                <th>
                    Joined users
                </th>
                <th>
                    Comments
                </th>
                <th>
                </th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var item in Model.Activities)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.CategoryName
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @{
                    var startTime = item.StartTime;
                    var dateTimeNow = DateTime.Now;
                    if (environment.IsProduction())
                    {
                        dateTimeNow = dateTimeNow.Add(new TimeSpan(0, 3, 0, 0));
                    }

                    if (item.StartTime > dateTimeNow)
                    {
                        @startTime @: (not started)
                    }
                    else
                    {
                        @startTime @: (started)
                    }
                }
            </td>
            <td>
                @item.AddedByUserUserName
            </td>
            <td>
                @item.UserActivitiesCount
            </td>
            <td>
                <a asp-area="Administration" asp-controller="Comments" asp-action="All" asp-route-id="@item.Id">@item.CommentsCount</a>
            </td>
            <td>
                <div class="text-center">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

<!--Alert-->
<script>
    let el = document.getElementById("adminSuccessesAlert");
    if (el !== null) {
        setTimeout(function () { el.hidden = true }, 3000);
    }
</script>